.notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification {
    background-color: #161b22;
    color: #c9d1d9;
    border-radius: 8px;
    padding: 15px;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    gap: 10px;
    animation: slide-in 0.5s ease, fade-out 0.5s ease 4.5s forwards;
    opacity: 1;
    pointer-events: none;
}


.notification.success {
    border-left: 5px solid #238636;
}

.notification.error {
    border-left: 5px solid #da3633;
}

.notification .icon {
    font-size: 18px;
    display: inline-block;
}

.notification .text {
    flex-grow: 1;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}